* {
  margin: 0;
  padding: 0;
}

*, *:after, *:before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  border: 0;
  display: block;
}

li {
  list-style: none;
}

#contents > div {
  width: 100%;
  height: 100vh;
}

#nav {
  font-size: 0;
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translatey(-50%);
  z-index: 999;
}
#nav li {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 15px 12px;
}
#nav li a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #c01c32;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transition: border-color 0.3s ease;
}
#nav li a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background: #c01c32;
  border-radius: 50%;
  box-shadow: 0 0 1px #000;
  transform: scale(3);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
}
#nav li.active a {
  border-color: #c01c32;
}
#nav li.active a:after {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.catchPhrase {
  background: url(img/background.png) no-repeat center center/cover;
  position: relative;
  overflow: hidden;
}
.catchPhrase .catch img {
  position: absolute;
  top: 35vh;
  left: 10vw;
  width: 80vw;
  -webkit-animation: catch linear 1s forwards;
          animation: catch linear 1s forwards;
}

@-webkit-keyframes catch {
  0% {
    opacity: 0;
    filter: blur(20px);
    transform: scale(5);
  }
  50% {
    opacity: 0.5;
    filter: blur(10px);
    transform: scale(3);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
}

@keyframes catch {
  0% {
    opacity: 0;
    filter: blur(20px);
    transform: scale(5);
  }
  50% {
    opacity: 0.5;
    filter: blur(10px);
    transform: scale(3);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
}
/**************************/
@-webkit-keyframes active {
  0% {
    top: -20px;
  }
  100% {
    top: 0;
  }
}
@keyframes active {
  0% {
    top: -20px;
  }
  100% {
    top: 0;
  }
}
.schedule {
  position: relative;
  display: grid;
  grid-template-rows: 200px 150px 500px;
  row-gap: 10px;
  align-items: center;
}
.schedule .tit {
  margin: 0 auto;
  max-width: 650px;
}
.schedule .vs {
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.schedule .vs p {
  font-size: 1.7rem;
  color: #a4a4a4;
  margin: 30px;
}
.schedule .vs img {
  width: 145px;
}
.schedule .vs figcaption {
  text-align: center;
  font-size: 1.2rem;
}
.schedule .schdSwiper {
  width: 90%;
  position: relative;
  margin: 0 auto;
}
.schedule .schdSwiper .schdSlide {
  background: #f7f7f7;
  border-radius: 8px;
  padding: 20px;
  margin-top: 50px;
  height: auto;
}
.schedule .schdSwiper .upcoming {
  position: absolute;
  top: -30px;
  left: 0;
  letter-spacing: 1.8px;
  color: #c01c32;
  font-weight: bold;
  text-transform: uppercase;
}
.schedule .schdSwiper .schd {
  position: relative;
  height: 300px;
}
.schedule .schdSwiper .schd .leg {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.schedule .schdSwiper .schd .plan {
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.schedule .schdSwiper .schd .plan .date {
  font-size: 1.5rem;
}
.schedule .schdSwiper .schd .match {
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  margin-top: 10px;
  border-top: 3px solid #fff;
  display: flex;
}
.schedule .schdSwiper .schd .match img {
  width: 90px;
}
.schedule .schdSwiper .schd .match p {
  font-size: 1.5rem;
}
.schedule .schdSwiper .active {
  top: -25px;
  -webkit-animation: active 0.7s ease-in infinite alternate;
          animation: active 0.7s ease-in infinite alternate;
}
.schedule .schdSwiper .active::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: #c01c32;
  border-radius: 8px 8px 0 0;
}
.schedule .schdSwiper .schdSlide:hover:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid #c01c32;
  border-radius: 8px;
}
.schedule .swiper-scrollbar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 70px;
  z-index: 50;
  height: 5px;
  width: 80%;
}
.schedule .swiper-scrollbar-drag {
  background: #c01c32;
}
.schedule .showLineUp {
  position: absolute;
  bottom: 20px;
  white-space: nowrap;
}
.schedule .showLineUp > span {
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 10px;
  line-height: 1.5rem;
}
.schedule .showLineUp img {
  display: inline-block;
  width: 20px;
  vertical-align: top;
}

.lineUp {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background: url(img/l_bg.png) no-repeat right bottom/contain;
}
.lineUp .linetit {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  color: transparent;
  background: linear-gradient(80deg, #9e091d, #eb2748, #9e091d);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lineUp .lineLeft {
  overflow: hidden;
  width: 800px;
  margin-top: 60px;
}
.lineUp .lineLeft .linetit {
  text-align: center;
}
.lineUp .kkbg {
  padding-top: 80px;
  overflow: hidden;
}
.lineUp .player {
  width: 360px;
  margin: 0 auto;
}
.lineUp .player li {
  position: relative;
  display: flex;
  font-size: 1.3rem;
  margin: 30px auto;
  padding: 10px;
  border-top: 1px solid #c8152b;
  border-bottom: 1px solid #c8152b;
}
.lineUp .player li:last-child {
  margin-bottom: 0;
}
.lineUp .player .b_order {
  flex-grow: 1;
}
.lineUp .player .name {
  flex-grow: 2;
}
.lineUp .player .position {
  flex-grow: 1;
  text-align: right;
  z-index: 1;
  color: #fff;
}
.lineUp .player li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background: #c8152b;
}

.shop {
  background: #c01c32;
  position: relative;
}
.shop .shopBox ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-align: center;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.shop .shopBox li {
  position: relative;
  width: 350px;
  height: 350px;
  background: #f7f7f7;
  border-radius: 8px;
  box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.5);
}
.shop .shopBox li a {
  display: block;
  padding: 40px 0 10px;
}
.shop .shopBox li img {
  margin: 0 auto;
}
.shop .shopBox li p {
  font-size: 1.2rem;
  margin: 20px 0;
}
.shop .shopBox li:nth-child(3) {
  grid-column: 3/4;
  grid-row: 1/3;
  height: auto;
}
.shop .shopBox li:nth-child(3) a {
  padding-top: 150px;
}
.shop .shopBox span {
  display: block;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background: #c01c32;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.3rem;
  padding: 5px 20px;
  border-radius: 8px;
  z-index: 1;
  box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.2);
}
.shop .shopBox li.active {
  -webkit-animation: active 0.7s ease-in infinite alternate;
          animation: active 0.7s ease-in infinite alternate;
}
.shop .shopBox li.active ::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: #c01c32;
  border-radius: 8px 8px 0 0;
}
.shop .store a {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  background: #c01c32;
  display: block;
  padding: 15px 20px;
  font-size: 1rem;
  color: #fff;
  box-shadow: 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}
.shop .store a:after {
  content: "";
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  transition: all 0.5s;
  background: #fff;
  border-radius: 8px;
}
.shop .store a:hover {
  color: #c01c32;
}
.shop .store a:hover::after {
  width: 100%;
  z-index: -1;
}

footer {
  background: #191919;
  color: #a4a4a4;
  padding: 20px;
}
footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ul li {
  margin-left: 30px;
}
footer ul li:first-child {
  margin-left: 0;
  margin-right: 60px;
}

.home {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 200px;
  height: 150px;
  z-index: 999;
  cursor: pointer;
}
.home .homeImg {
  width: 100%;
  position: relative;
  transition: all 0.2s;
  transform-style: preserve-3d;
}
.home .homeImg img {
  width: 100%;
}
.home .homeImg .front {
  position: absolute;
  z-index: 1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.home .homeImg .back, .home .homeImg .backOn {
  position: absolute;
  transform: rotateY(180deg);
}
.home .homeImg .back p, .home .homeImg .backOn p {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}
.home .homeImg .back a, .home .homeImg .backOn a {
  display: block;
  font-size: 0.7rem;
  text-decoration: underline;
  color: #eee;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.home .homeImg:hover {
  transform: rotateY(180deg);
}/*# sourceMappingURL=v5.css.map */